/* -------------------------------------------------------------------------- */
/*                          INVALID INPUT STYLES                              */
/* -------------------------------------------------------------------------- */
.invalid-input {
  border: 1px solid red !important;
}

/* -------------------------------------------------------------------------- */
/*                          TEXT STYLES                                       */
/* -------------------------------------------------------------------------- */
.subtitulo {
  font-size: 0.700rem;
}

/* -------------------------------------------------------------------------- */
/*                          INPUT STYLES                                      */
/* -------------------------------------------------------------------------- */
.input {
  border: 1px solid black !important;
}

/* -------------------------------------------------------------------------- */
/*                          IMAGE STYLES                                      */
/* -------------------------------------------------------------------------- */
.img {
  width: 5rem;
  height: auto;
}

/* -------------------------------------------------------------------------- */
/*                          BUTTON STYLES                                     */
/* -------------------------------------------------------------------------- */
.btns {
  border: 1px solid black !important;
  background: white !important;
  color: black !important;
}
