<!-- -------------------------------------------------------------------------- -->
<!--                              DIV PAI                                       -->
<!-- -------------------------------------------------------------------------- -->
<div class="container-fluid d-flex flex-column justify-content-between cards">

  <!-- -------------------------------------------------------------------------- -->
  <!--                        DIV DOS CARDS                                       -->
  <!-- -------------------------------------------------------------------------- -->
  <div class="d-flex col-lg-12 col-md-8 col-sm-5 justify-content-between mt-4 cards-1">

    <!-- -------------------------------------------------------------------------- -->
    <!--                        DIV DA ESCOLA                                       -->
    <!-- -------------------------------------------------------------------------- -->
    <div class="card col-lg-6 col-md-3 col-sm-2">
      Sua escola é:
    </div>

    <!-- -------------------------------------------------------------------------- -->
    <!--                        DIV DAS NOTIFICAÇÕES                                -->
    <!-- -------------------------------------------------------------------------- -->
    <div class="card col-lg-5 col-md-3 col-sm-2">
      Notificações:
    </div>

  </div>

  <!-- -------------------------------------------------------------------------- -->
  <!--                      DIV DO SEU PROCESSO                                   -->
  <!-- -------------------------------------------------------------------------- -->
  <div class="d-flex col-lg-12 col-md-8 col-sm-5 justify-content-between mt-5">

    <!-- -------------------------------------------------------------------------- -->
    <!--                        DIV DO SEU PROCESSO                                  -->
    <!-- -------------------------------------------------------------------------- -->
    <div class="card col-lg-12 col-md-8 col-sm-4">
      Seu processo é:
    </div>



  </div>

</div>
