<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
  <form class="w-100 d-flex flex-column align-items-center">
    <p><b>EXAME DE OURO</b></p>
    <div class="form-group col-12 col-md-6 col-lg-4">
      <label><b>E-mail:</b></label>
      <input
        type="text"
        class="form-control input"
        [(ngModel)]="email"
        name="email"
        (focus)="emailTouched = true"
        [ngClass]="{'invalid-input': validateEmail() && emailTouched}"
        placeholder="E-mail">
      <small *ngIf="validateEmail() && emailTouched" class="text-danger subtitulo">E-mail inválido.</small>
    </div>

    <div class="form-group col-12 col-md-6 col-lg-4 mt-2">
      <label><b>Senha:</b></label>
      <input
        type="password"
        name="password"
        class="form-control input"
        [(ngModel)]="password"
        (focus)="passwordTouched = true"
        [ngClass]="{'invalid-input': validatePassword() && passwordTouched}"
        placeholder="Password">
      <small *ngIf="validatePassword() && passwordTouched" class="text-danger subtitulo">Senha inválida.</small>
    </div>
    <div class="d-flex justify-content-between col-12 col-md-6 col-lg-4 mt-3">
      <button class="btn btn-primary btns" (click)="logar()" [disabled]="validateEmail() || validatePassword()">Entrar</button>
      <button class="btn btn-secondary btns" (click)="navigateToRegister()">Cadastrar</button>
    </div>
  </form>
</div>
